////定义变量
//$rem = 37.5
//
//#shopCart
//  background #f4f4f4
//  height (1236/$rem)rem
//  .header
//    width (690/$rem)rem
//    height (88/$rem)rem
//    padding 0 (30/$rem)rem
//    background white
//    .left
//      width (108/$rem)rem
//      height (88/$rem)rem
//      float left
//      font-size (36/$rem)rem
//      line-height (88/$rem)rem
//    .right
//      width (90/$rem)rem
//      height (88/$rem)rem
//      float right
//      font-size (30/$rem)rem
//      color #B4282D
//      line-height (88/$rem)rem
//  .list
//    width (690/$rem)rem
//    height (70/$rem)rem
//    line-height (700/$rem)rem
//    padding 0 (30/$rem)rem
//    display flex
//    justify-content space-between
//  .content
//    width (750/$rem)rem
//    height (300/$rem)rem
//    /*background yellow*/
//    text-align center
//    margin-top (384/$rem)rem
//    p
//      font-size (38/$rem)rem
//      color #999
//  .btn
//    width (480/$rem)rem
//    height (92/$rem)rem
//    margin 0 auto
//    display flex
//    justify-content space-around
//    line-height (92/$rem)rem
//    background #B4282D
//    span
//      width (92/$rem)rem
//      height 100%
//      font-size (30/$rem)rem
//      color white

#shopCart
  background #f4f4f4
  height 1236px
  .header
    width 690px
    height 88px
    padding 0 30px
    background white
    .left
      width 108px
      height 88px
      float left
      font-size 36px
      line-height 88px
    .right
      width 90px
      height 88px
      float right
      font-size 30px
      color #B4282D
      line-height 88px
  .list
    width 690px
    height 70px
    line-height 70px
    padding 0 30px
    display flex
    justify-content space-between
    font-size 24px
  .content
    width 750px
    height 300px
    /*background yellow*/
    text-align center
    margin-top 384px
    p
      font-size 28px
      color #999
  .btn
    width 480px
    height 92px
    margin 0 auto
    display flex
    justify-content space-around
    line-height 92px
    background #B4282D
    span
      width 92px
      height 100%
      font-size 30px
      color white
